body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar {
  width: 160px;
  height: 600px;
  position: absolute;
  left: 50%;
  margin-left: -455px;
  z-index: 5;
  top: 50vh;
  margin-top: -320px;
  margin-bottom: 20px;
  align-content: center;
  /* opacity: .7; */
  background: rgba(133, 156, 154, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#OnOffButton {
  position: absolute;
  left: 50%;
  margin-left: 520px;
  z-index: 6;
  top: 50vh;
  margin-top: 320px;
}
.active {
  color: black !important;
  background-color: rgba(251, 193, 0, 0.7) !important;
  border-radius: 10px !important;
}

.custom-pop-up {
  position: absolute;
  left: 0;
  margin-left: 180px;
  top: 0;
  height: 300px;
  width: 160px;
  z-index: 5;
  background: rgba(133, 156, 154, 0.7);
  border-radius: 6px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#child-brush-options-popup {
  width: 320px;
}

#brush-options {
  text-align: center;
  width: 160px;
  height: 300px;
}

#line-thickness {
  text-align: center;
  position: absolute;
  width: 160px;
  top: 0;
  left: 160px;
}

#bodypart-options {
  text-align: center;
}

#closed {
  display: none;
}

.open {
  display: block;
}

.closed {
  display: none;
}

#color-picker {
  text-align: center;
}

#video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
  margin: 0;
  padding: 0;
}

#navbar > * {
  margin-bottom: 10px;
}

#display {
  position: relative;
}

canvas {
  position: absolute;
  left: 50%;
  margin-left: -475px;
  top: 50%;
  margin-top: calc(50vh - 350px);
}

#output {
  z-index: 4;
}

#background {
  z-index: 3;
}

#painting-pointer {
  z-index: 4;
}
