body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  margin-left: 10px;
  align-content: center;
}

.navbar > * {
  margin-bottom: 10px;
}

.navbar * {
  border: 1px black solid;
}
